/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

/* Global Styles */
* {
    font-family: "Afacad Flux", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 19px;
}

/* Common Styles */
.nav-items > ul > li, 
.btn-name {
    padding: 10px;
    margin: 10px;
    font-weight: 500;
    cursor: pointer;
    color: #3D4152;
}

/* Header Section */
.header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
    padding: 0px 20px;
}

.header .logo-container {
    display: flex;
    align-items: center;
}

.header .logo {
    width: 105px;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items ul li:hover, .btn-name:hover {
    color: #FC8019;
}

.rout-link {
    text-decoration: none;
    color: inherit;
}

/* Button Name */
.btn-name {
    background: transparent;
    border: none;
}

/* Search Section */
.search {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 50px 0;
}

.search-input-container {
    position: relative;
    flex: 0.7;
    max-width: 800px;
}

.search-input {
    font-weight: 500;
    padding: 10px 35px 10px 15px;
    width: 100%;
    border: 1px solid #97989f;
    border-radius: 3px;
}

.search-input:focus {
    outline: none;
}

.clear-icon {
    position: absolute;
    right: 10px;
    top: 47%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    color: #3D4152;
}

.search button {
    background-color: transparent;
    border: 0;
}

.search > button > i {
    font-size: 20px;
    cursor: pointer;
    color: #3D4152;
}

/* Filter Section */
.filter {
    margin: 0 40px 20px 40px;
    padding: 0 25px;
}

.filter > .filter-btn {
    background-color: transparent;
    border: 1px solid rgba(182, 184, 187, 0.9);
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 12px;
}

/* Restaurant Cards */
.res-container, .shim-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 40px;
}

.res-container .res-card, .shim-card {
    margin-bottom: 15px;
    padding: 5px;
    width: 200px;
    cursor: pointer;
}

.res-logo {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 25px;
}

.res-info {
    padding: 0 15px;
}

.res-rating {
    font-weight: 400;
}

.res-name {
    font-size: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limit to 1 line */
    -webkit-box-orient: vertical;
}

/* Cuisine Info */
.cuisines {
    color: rgba(2, 6, 12, 0.6);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    line-height: 1.2;
}

/* Shimmer UI */
.shim-card {
    background-color: rgb(128, 128, 128, 0.2);
    height: 246px;
    border-radius: 25px;
}