.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
    padding-left: 20px;
}

.nav-items {
    padding: 0 20px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 19px;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.search {
    padding: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    padding: 5px;
    margin: 5px;
    width: 200px;
    background-color: #f0f0f0;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.res-logo {
    width: 100%;
}