* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #B7E0FF;
    width: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0; 
}

.logo {
    height: 70px;
    width: 70px;
}

input {
    border: 0;
    outline: 0;
    padding: 10px 15px;
    border-radius: 5px;
    width: 40%;
}

.user-profile {
    height: 40px;
    width: 40px;
}